/* Reset some default browser styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  /* Apply styles to the root element where your React app is injected */
  #root {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
  }
  
  /* Apply styles to links */
  a {
    text-decoration: none;
    color: #007bff; /* Blue color for links, you can change it as needed */
    cursor: pointer;
  }
  
  /* Style for the entire application header */
  .App-header {
    background-color: #282c34;
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  /* Add any other global styles you want to define here */
  